.profile__description {
	width: 100%;
	/* max-width: 336px; */
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	align-items: baseline;
}

@media screen and (max-width: 699px) {
	.profile__description {
		justify-content: center;
		align-items: center;
	}
}